{% extends 'base.html.twig' %}

{% block title %}Nouvelle lunette{% endblock %}

{% block body %}
<div class="glass-card">
    <h1>Nouvelle lunette</h1>
    {{ include('lunette/_form.html.twig') }}
    <a class="glass-link" href="{{ path('app_lunette_index') }}">← Retour à la liste</a>
</div>
{% endblock %}
